<!doctype html>
<html>
    <head>
        <title>Films and ratings</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Stars</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                <tr>
                    <td>{{ film.title }}</td>
                    <td>{{ film.rating }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>